body {
  font-family: sans-serif;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
}
h1 {
  margin: 0;
  position: absolute;
  top: -10px;
  font: bold 50px sans-serif;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: .03em;
}
h1 span {
  position: relative;
  top: 
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input, button {
  outline: none;
}
button {
  cursor: pointer;
}
.report, .show-report .record {
  display: none;
}
.show-report .report {
  display: block;
}
header {
  margin: 0 -10px 20px -10px;
  padding-bottom: 20px;
  background: #ececec;
  text-align: center;
}
header input, header button {
  font-size: 16px;
  border: none;
  padding: 11px 15px;
}
header button {
  background: #3a3;
  color: white;
}
nav {
  display: inline-block;
  margin: 5px auto 15px auto;
  padding: 4px;
  background: white;
}
nav span {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
.show-record .record-tab, .show-report .report-tab {
  background: #33a;
  color: white;
}
.date {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  background: white;
  border-bottom: solid 1px #ccc;
  text-align: center;
  margin-right: 10px;
  padding-bottom: 5px;
}
.date div {
  background: #a33;
  color: white;
  font-size: 11px;
  padding: 2px 0;
  margin-bottom: 5px;
}
.date.sat div, .date.sun div {
  background: gray;
}
.task {
  display: inline-block;
  position: relative;
  width: 50%;
  min-width: 200px;
}
.task input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
.task ul {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.task li {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.task li:hover {
  background: #ebf2fc;
}
.hours {
  width: 3em;
  margin: 0 5px;
}
header .report ul {
  margin: 0 auto;
  width: 756px;
  text-align: left;
}
header .report li {
  display: inline-block;
}
.report .date {
  margin: 0 2px 4px 2px;
  opacity: .5;
  cursor: pointer;
}
.report .date:hover, .report .date.selected {
  opacity: 1;
}
.content li {
  margin-bottom: 10px;
  padding-left: 60px;
  clear: both;
}
.content li li {
  padding: 0;
  clear: none;
}
.content li.total {
  border-top: solid 1px #ececec;
  padding-top: 10px;
}
.content .date {
  float: left;
  margin: 0 0 10px -60px;
  cursor: pointer;
}
.time {
  float: left;
  width: 60px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}
.name {
  padding-left: 70px;
}
.remove {
  background: #ececec;
  border: none;
  color: white;
  float: right;
  margin-left: 10px;
  padding: 2px 5px;
}
.remove:hover, .remove:focus {
  background: #a33;
}
.previous, .download {
  display: block;
  clear: both;
  margin: 10px auto 20px auto;
  padding: 5px 20px;
  background: #999;
  color: white;
  border: none;
}
.download {
  display: inline-block;
  text-decoration: none;
  margin-left: 130px;
}